@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(72, 58, 58, 0.597) ;
}

h1{
    background-color: black;
}

h1 a{
    color: rgb(0, 255, 0);
    display: inline-block;
    line-height: 100px;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    font-family: 'Black Ops One', cursive;
    text-align: center;
}
h1:hover{
    background-color: rgba(0, 0, 0, 0.834) ;
}
section{
    width: 99%;
    padding-left: 40px;
}

ul{
width:100%;
padding: 1px;
}

ul li{
    text-decoration: none;
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    background-color: rgb(219, 149, 191);
    height: 40px;
    line-height: 40px
}
ul li a{
    text-decoration: none;
    color: rgb(139, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 100%;
}
ul li a:hover{
    background-color: rgb(90, 189, 37);
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}
.par1{
    width: 60%;
    display:inline-block;
    float: left;
    height: 250px;
    margin-top: 30px;
    background-color: bisque;
    overflow: auto;
    padding: 5px 10px;
    box-shadow: 5px 5px lightblue;
    border-radius: 25px;
    text-indent: 50px;
    text-align:justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 20px;

}
.resim1{
    display: inline-block;
    float: left;
    width: 30%;
    height: 250px;
    margin-top: 55px;
    margin-left: 45px;
    border-radius: 25px;
    box-shadow: 3px 3px lightblue;
    opacity: 0.8;
    
}
.par1::-webkit-scrollbar{
    display: none;
}
.resim1:hover{
    transform: scale(1.05);
    transition: all 1s;
    opacity: 1;
}
.par1:hover{
    background-color: rgb(136, 250, 94);
    transform: scale(1.01);
    transition: all 0.5s;
}
span{
    font-size: 23px;
    font-weight: bold;
    
}
.bio{
    color: rgba(5, 150, 124, 0.77);
    font-style: italic;
    text-decoration-line:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}